<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgetPassword.css') }}">
</head>
<body>

<div class="page">

    <!-- Navbar -->
    <div class="navbar">
        <div class="logo"><img src="00-removebg-preview.png" alt="klcc" width="32" height="30"> CiviScan</div>
        <button class="home-btn">Home</button>
    </div>

    <!-- Glass Card -->
    <div class="card">

        <div class="form-row">
            <label>Email:</label>
            <input type="text">
            <button class="small-btn">Send Code</button>
        </div>

        <div class="form-row">
            <label>OTP:</label>
            <input type="text">
        </div>

        <div class="form-row">
            <label>New Password:</label>
            <input type="text">
        </div>

        <div class="center">
            <button class="login-btn">Re-login</button>
        </div>

    </div>


    <!-- FOOTER -->

<footer>

<div class="footer-left">
<img src="00-removebg-preview.png" alt="klcc" width="32" height="30"> CiviScan
</div>

<div class="footer-center">
<b>About Us</b><br>
<a href="#">Home</a> |
<a href="#">Term & Condition</a> |
<a href="#">Privacy Policy</a> |
<a href="#">Contact Us</a>
</div>

<div class="footer-right">
<b>Social Media</b><br>
<span><img src="ig.png" alt="instagram" width="32" height="30"></span>
<span><img src="fb.png" alt="facebook" width="32" height="30"></span>
<span><img src="wa.png" alt="whatsapp" width="32" height="30"></span>
<span><img src="yt.png" alt="youtube" width="32" height="30"></span>
</div>

</footer>

</body>
</html>