<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>User Card</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/logout.css') }}">

</head>
<body>

<div class="user-card">

    <div class="avatar">
        <img src="image_2026-03-12_212510535-removebg-preview.png" alt="user" width="180" height="180">
    </div>

    <h2>USER</h2>

    <div class="buttons">
        <button class="btn">View Profile</button>
        <button class="btn">Log out</button>
    </div>

</div>

</body>
</html>